/*
 * 画面全体に関する設定
 */
body {
    font: 14px "Lucida Grande", Meiryo, Helvetica, Arial, sans-serif;
    background-color: #f9f9f9;
}

a {
    color: #00B7FF;
}

div {
    margin: 20px 0px;
}

/* end.hbsのCSS*/
.end-wrapper {
  margin: 0 auto;
  background-color: #000;
}

.quiz-end{
  font-size: 10em;
  color: red;
  padding:20%;
}

.row {
    margin: 13% 13% 0 13%;
}

.user-name-wrapper{
    margin: 4% 13% 0 13%;
    padding:2%;
}

/*
 * ボタンの共通設定
 */
.common-button {
  border-radius: 5px;
  color: #fff;
  width:15%;
  height:50px;
}


/*
 * トップ画面（index.hbs）に関する設定
 */

 .container{
   width: 700px;
   height:500px;
   margin:8% auto;
   background-color: #fff;
   padding: 2%;
 }

.index-user_name {
  font-size: 20px;
}

.index-user_name_text {
    width: 100%;
}

.index-enter {
  margin: 0 auto;
}

.index-enter_button {
  width:100%;
  background-color: orange;
}

/*
 * チャットルーム画面（room.hbs）に関する設定
 */

 .contents {
   width:700px;
   margin: 0 auto;
 }

.room-login_user {

 }

#message{
  border:solid orange 1px;
}

.room-message {
}

.room-message_textarea {
    width: 500px;
}

.room-submit {

}

.room-publish_button {
  background-color: blue;
}

.room-memo_button {
  background-color: green;
}

.room-quiz_button{
  background-color: orange;
}

.room-takebreak-button{
  background-color: grey;
}

.room-thread {

}


.room-exit {

}

.room-exit_button {
  background-color: red;
}

.message-box {
    display: flex;
    margin: 0px;
}

.my-message {
    font-weight: bold;
}

.message-box > * {
    margin-top: 10px;
}
